.contact {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  