footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 15px;
  }
}
