header {
  background: linear-gradient(to right, #41a050, #033318);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  min-height: 80px;  
  
}



nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 25px;
}

nav li {
  margin: 10px 0;
}

nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 3px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.menu-button:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 5px;
    min-height: 120px; 
  }
}

@media (max-width: 768px) {
  nav ul {
    gap: 10px; 
  }

  nav li a{
    font-size: 12px;
  }
}
