
.services{
background-color: #12851b;
color: #fff;
padding: 80px;
}

  .about1,
  .blog,
  .contact {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .about1 h2,
  .services h2,
  .blog h2 {
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
  }
  
  .about1 p,
  .services p,
  .blog p,
  .contact p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
  .services-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #41a050;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    
    
  }
  
  .services-button:hover {
    background-color: #4fc461;
  }

 
  .banner-image {
    width: 100%;
  max-width: 850px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  filter: grayscale(50%);
  }
  
  
  .image-gallery-image {
    max-height: 400px; 
    object-fit: cover; 
    width: 100%;
    margin: 0 auto; 
  }

  @media (max-width: 768px) {
    .services {
      padding: 40px;
    }
  
    .about1 h2,
    .services h2,
    .blog h2 {
      font-size: 30px;
    }
  
    .about1 p,
    .services p,
    .blog p,
    .contact p {
      font-size: 16px;
    }
  
    .services-button {
      font-size: 14px;
    }
  }