.registro-nutricional-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

.registro-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.alimento-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.informacoes-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="date"],
input[type="text"],
input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



button {
  padding: 10px;
  background-color: #115e44;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  
}

.salvar{

  background-color: rgb(126, 23, 23);
}

.salvar:hover{

  background-color: rgb(141, 32, 32);
}

button:hover {
  background-color: #1b8134;
}

.registro-diario-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.registro-diario-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}


.alimentos-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.alimentos-list li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.alimentos-list li span {
  display: block;
  margin: 2px 0;
  background-color: #f7f7f7;
  padding: 5px;
  border-radius: 3px;
}

.dataDiaria{

text-align: left;

}

.informacoes-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px; 
}

.informacoes-container span {
  margin-top: 2px;

}

.valor {
  margin-top: 2px;
  margin-bottom: 5px; 
  padding: 2px 4px;
  color: white;
}

.totals-container {
  background-color: #d4cece;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.totals-container h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.totals-container p {
  font-size: 1.2rem;
  margin: 5px 0;
  text-align: left;
}